body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  
  .sidebar {
    background-color: #333;
    padding: 15px;
    color: white;
  }
  
  .sidebar h2 {
    color: #dc3545;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .content {
    padding: 15px;
  }
  
  .bg-cinza {
    background-color: #eeefef;
  }
  